<%= turbo_frame_tag "flash" do %>
  <% if flash.any? %>
    <div class="position-fixed top-0 end-0 p-3" style="z-index: 1050;">
      <% flash.each do |type, message| %>
        <div class="alert <%= flash_class(type) %> alert-dismissible fade show" role="alert">
          <%= message %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
